USE [instituto_capacitacion]
GO
/****** Object:  StoredProcedure [dbo].[sp_carga_instructores]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_carga_instructores]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        i.id_instructor,
        i.nombres                         AS instructor,
        i.especialidad,
        COUNT(DISTINCT cp.id_programado)  AS cursos_asignados,
        COUNT(m.id_matricula)             AS total_estudiantes
    FROM instructores i
    LEFT JOIN cursos_programados cp ON i.id_instructor = cp.id_instructor
    LEFT JOIN matriculas m          ON cp.id_programado = m.id_programado
    GROUP BY i.id_instructor, i.nombres, i.especialidad
    ORDER BY cursos_asignados DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_dashboard_estadisticas]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE   PROCEDURE [dbo].[sp_dashboard_estadisticas]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        (SELECT COUNT(*) FROM estudiantes)  AS total_estudiantes,
        (SELECT COUNT(*) FROM cursos)        AS total_cursos,
        (SELECT COUNT(*) FROM instructores)  AS total_instructores,
        (SELECT COUNT(*) FROM matriculas)    AS total_matriculas;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_detalle_instructor]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_detalle_instructor]
    @id_instructor INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.nombre   AS curso,
        p.nombre   AS periodo,
        cp.modalidad,
        COUNT(m.id_matricula) AS inscritos,
        cp.cupo
    FROM cursos_programados cp
    JOIN cursos c      ON cp.id_curso = c.id_curso
    JOIN periodos p    ON cp.id_periodo = p.id_periodo
    LEFT JOIN matriculas m ON cp.id_programado = m.id_programado
    WHERE cp.id_instructor = @id_instructor
    GROUP BY c.nombre, p.nombre, cp.modalidad, cp.cupo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_historial_estudiante]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_historial_estudiante]
    @cedula        VARCHAR(10) = '',
    @id_estudiante INT         = 0
AS
BEGIN
    SET NOCOUNT ON;

    
    SELECT
        e.id_estudiante,
        e.cedula,
        e.nombres + ' ' + e.apellidos AS estudiante,
        e.correo
    FROM estudiantes e
    WHERE (@cedula        != '' AND e.cedula        = @cedula)
       OR (@id_estudiante  > 0  AND e.id_estudiante = @id_estudiante);

    
    SELECT
        c.nombre   AS curso,
        p.nombre   AS periodo,
        cp.modalidad,
        m.estado,
        cal.nota_final,
        CASE
            WHEN cal.aprobado = 1 THEN 'Aprobado'
            WHEN cal.aprobado = 0 THEN 'No aprobado'
            ELSE 'Sin calificación'
        END AS resultado
    FROM estudiantes e
    JOIN matriculas m           ON e.id_estudiante = m.id_estudiante
    JOIN cursos_programados cp  ON m.id_programado = cp.id_programado
    JOIN cursos c               ON cp.id_curso = c.id_curso
    JOIN periodos p             ON cp.id_periodo = p.id_periodo
    LEFT JOIN calificaciones cal ON m.id_matricula = cal.id_matricula
    WHERE (@cedula        != '' AND e.cedula        = @cedula)
       OR (@id_estudiante  > 0  AND e.id_estudiante = @id_estudiante);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_categorias]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_listar_categorias]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT DISTINCT categoria FROM cursos ORDER BY categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_estudiantes]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_listar_estudiantes]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id_estudiante,
           nombres + ' ' + apellidos AS nombre,
           cedula
    FROM estudiantes
    ORDER BY nombres;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_periodos]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_listar_periodos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT nombre FROM periodos ORDER BY id_periodo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ocupacion_cursos]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_ocupacion_cursos]
    @periodo   VARCHAR(40) = '',
    @modalidad VARCHAR(20) = ''
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.nombre   AS curso,
        i.nombres  AS instructor,
        p.nombre   AS periodo,
        cp.modalidad,
        cp.cupo,
        COUNT(m.id_matricula)                                          AS inscritos,
        cp.cupo - COUNT(m.id_matricula)                                AS disponibles,
        CAST(COUNT(m.id_matricula) * 100.0 / cp.cupo AS DECIMAL(5,2)) AS porcentaje_ocupacion
    FROM cursos_programados cp
    JOIN cursos c       ON cp.id_curso = c.id_curso
    JOIN instructores i ON cp.id_instructor = i.id_instructor
    JOIN periodos p     ON cp.id_periodo = p.id_periodo
    LEFT JOIN matriculas m ON cp.id_programado = m.id_programado
    WHERE (@periodo   = '' OR p.nombre     = @periodo)
      AND (@modalidad = '' OR cp.modalidad = @modalidad)
    GROUP BY c.nombre, i.nombres, p.nombre, cp.modalidad, cp.cupo
    ORDER BY porcentaje_ocupacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_participacion_por_curso]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_participacion_por_curso]
    @categoria VARCHAR(50) = '',
    @estado    VARCHAR(20) = ''
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.nombre                          AS nombre_curso,
        c.categoria,
        COUNT(m.id_matricula)             AS total_matriculas,
        SUM(CASE WHEN m.estado = 'Finalizado' THEN 1 ELSE 0 END) AS finalizados,
        SUM(CASE WHEN m.estado = 'Retirado'   THEN 1 ELSE 0 END) AS retirados,
        SUM(CASE WHEN m.estado = 'En curso'   THEN 1 ELSE 0 END) AS en_curso
    FROM cursos c
    JOIN cursos_programados cp ON c.id_curso = cp.id_curso
    JOIN matriculas m          ON cp.id_programado = m.id_programado
    WHERE (@categoria = '' OR c.categoria = @categoria)
      AND (@estado    = '' OR m.estado    = @estado)
    GROUP BY c.nombre, c.categoria
    ORDER BY total_matriculas DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_rendimiento_academico]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_rendimiento_academico]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.nombre   AS curso,
        p.nombre   AS periodo,
        COUNT(cal.id_calificacion)                        AS evaluados,
        CAST(AVG(cal.nota_final) AS DECIMAL(5,2))         AS promedio_nota,
        SUM(CASE WHEN cal.aprobado = 1 THEN 1 ELSE 0 END) AS aprobados,
        SUM(CASE WHEN cal.aprobado = 0 THEN 1 ELSE 0 END) AS reprobados
    FROM calificaciones cal
    JOIN matriculas m          ON cal.id_matricula = m.id_matricula
    JOIN cursos_programados cp ON m.id_programado = cp.id_programado
    JOIN cursos c              ON cp.id_curso = c.id_curso
    JOIN periodos p            ON cp.id_periodo = p.id_periodo
    GROUP BY c.nombre, p.nombre
    ORDER BY promedio_nota DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_tendencias_matricula]    Script Date: 21/02/2026 10:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_tendencias_matricula]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.id_periodo,
        p.nombre                          AS periodo,
        p.fecha_inicio,
        p.fecha_fin,
        COUNT(m.id_matricula)             AS total_matriculas,
        SUM(CASE WHEN m.estado = 'Finalizado' THEN 1 ELSE 0 END) AS finalizados,
        SUM(CASE WHEN m.estado = 'Retirado'   THEN 1 ELSE 0 END) AS retirados,
        SUM(CASE WHEN m.estado = 'En curso'   THEN 1 ELSE 0 END) AS en_curso
    FROM periodos p
    LEFT JOIN cursos_programados cp ON p.id_periodo = cp.id_periodo
    LEFT JOIN matriculas m          ON cp.id_programado = m.id_programado
    GROUP BY p.id_periodo, p.nombre, p.fecha_inicio, p.fecha_fin
    ORDER BY p.id_periodo;
END;
GO
